In [13]:
import pandas as pd
import numpy as np

In [14]:
humidity_df = pd.read_csv("dataset/humidity.csv")
temperature_df = pd.read_csv("dataset/temperature.csv")
wind_speed_df = pd.read_csv("dataset/wind_speed.csv")

In [15]:
cities = ["Vancouver", "Chicago", "Miami"]

In [16]:
def get_city():
    for city in cities:
        yield city

In [17]:
for city in get_city():
    print(city)

Vancouver
Chicago
Miami

In [18]:
def get_dataset(city_name):
    df = pd.concat([temperature_df["datetime"], temperature_df[city_name], humidity_df[city_name], wind_speed_df[city_name]], axis=1)
    df.columns = ["datetime", "temp", "humid", "wind_sp"]
    df = df.iloc[1:]
    df = df.ffill()
    df["temp"] = (df["temp"] - 273.15) * 1.8 + 32
    return df

In [19]:
df = get_dataset("Vancouver")
df.isna().sum()

datetime    0
temp        0
humid       0
wind_sp     0
dtype: int64

In [20]:
df.shape

(45252, 4)

In [21]:
df.head()

              datetime       temp  humid  wind_sp
1  2012-10-01 13:00:00  52.664000   76.0      0.0
2  2012-10-01 14:00:00  52.662274   76.0      0.0
3  2012-10-01 15:00:00  52.658596   76.0      0.0
4  2012-10-01 16:00:00  52.654918   77.0      0.0
5  2012-10-01 17:00:00  52.651240   78.0      0.0

In [22]:
df.describe()

               temp         humid       wind_sp
count  45252.000000  45252.000000  45252.000000
mean      51.413027     81.942500      2.460223
std       11.887449     14.480778      1.997609
min      -18.400000     12.000000      0.000000
25%       42.962000     73.000000      1.000000
50%       50.882000     86.000000      2.000000
75%       59.648000     93.000000      4.000000
max       92.930000    100.000000     25.000000